@import "variable.scss";

body, html {
  line-height: 1;
  font-family: 'Arial, Helvetica, sans-serif';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}
body {
  padding: 0 45px;
}