// 颜色定义规范
$color-background: rgb(255, 255, 255);
$color-border: rgb(87, 87, 87);
$color-border-l: rgb(222, 222, 222);
$color-text: rgb(67, 67, 67);
$color-text-l: rgb(133, 133, 133);

//字体定义规范
$font-size-small: 32px;
$font-size-small-x: 36px;
$font-size-medium: 42px;
$font-size-medium-x: 54px;
$font-size-large: 62px;
$font-size-large-x: 70px;