// 颜色定义规范
$color-background: rgb(255, 255, 255);
$color-background-d: rgb(243, 243, 243);

$color-border-r: rgb(189, 82, 87);
$color-border-l: rgb(222, 222, 222);
$color-border-m: rgb(232, 232, 232);
$color-border-b: rgb(33, 34, 41);

$color-text: rgb(67, 67, 67);
$color-text-l: rgb(133, 133, 133);
$color-text-w: rgb(255, 255, 255);
$color-text-d: rgb(220,220,220);
$color-text-dw: rgb(200,200,200);
$color-text-h: rgb(170, 165, 165);

$color-theme: rgb(251,68,70);
$color-theme-l: rgb(247, 217, 220);
$color-theme-w: rgb(243, 243, 243);
$color-theme-g: #323234;

//字体定义规范
$font-size-small: 32px;
$font-size-small-x: 36px;
$font-size-medium: 42px;
$font-size-medium-m: 48px;
$font-size-medium-x: 54px;
$font-size-large: 62px;
$font-size-large-x: 70px;
$font-size-large-xl: 86px;
$font-size-large-xxl: 160px;